<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game.name }}</title>
</head>
<body>
<h3>Logged in as: {{ request.user }}</h3>
<h1>{{ game.name }}</h1>
<img src="{{ game.image_main }}">
{% if video %}
<video width="460" height="215" controls autoplay muted>
    <source src="{{ video }}" type="video/mp4">
</video>
{% endif %}
<p><strong>Release Date:</strong> {{ game.release_date }}</p>
<p><strong>Description:</strong> {{ game.description_long }}</p>
<p><strong>Price:</strong>{% if game.sale_price %} [ON SALE] ${{ game.sale_price }} <s>${{ game.price }}</s>{% else %} ${{ game.price }}{% endif %}</p>
<p><strong>Categories:</strong></p>
{% if categories %}
<p>{% for category in categories %}{{ category }} {% endfor %}</p>

{% endif %}
{% if messages %}
{% for message in messages %}
    {{ message }}<br>
{% endfor %}
{% endif %}
<hr>

{% if user_review %}
<h3>Your Review:</h3>
<h4>{{ user_review.review }} (Edit)</h4> Posted on: {{ user_review.create_ts }}
{% else %}
Post a Review (10000 characters max):
<form action='{% url "game_url" game.app_id %}' method='post'>
{% csrf_token %}
<textarea name='review-textarea' rows='4' cols='100'></textarea><br>
<button type='submit' name='action' value='post-review'>Post Review</button>
</form>
<hr>
{% endif %}


<hr>
<h3>Reviews:</h3>
{% for review in reviews %}
    <h4>{{ review.review }}</h4><br>By: <strong>{{ review.user }}</strong> Posted on: {{ review.create_ts }}
    <hr>
{% endfor %}
</body>
</html>