{% extends 'base.html' %}
{% block head %}
{% load static %}
    <style>
        body {
            background-color: #212121;
            
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            color: grey;
            border-bottom: 2px solid #f57c00 !important; 
            box-shadow: 0 1px 0 0 #f57c00 !important;
        }

        .input-field input[type="text"]:focus + label,
        .input-field input[type="password"]:focus + label {
            color: #f57c00 !important;
        }

        .input-field i.material-icons.prefix.active {
            color: #f57c00;
        }
    </style>
{% endblock %}
{% block title %} 
    Elysium Games
{% endblock %}
{% block body %}
<div class="row" style="height: 0.25vh; background-color: #f57c00;"></div>
<div class="row logo-container center-align">
    <img src="{% static 'image/logo.png' %}" id="logo" width="224" height="80">
</div>
<div class="row">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-panel grey darken-3 grey-text z-depth-4">
            <div class="card-content">
                <span class="card-title left-align"><h6>Login</h6></span>
                <form action="{% url 'login_url' %}" method='post'>
                    {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="username-input" name="username">
                    <label for="username-input">Username: </label> <!-- tab to next field might be bugged, change inactive color to grey-->
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input type="password" id="password-input" name="password">
                    <label for="password-input">Password: </label>
                </div>
                <button class="btn orange darken-2 waves-effect waves-light center-align">Login</button><br><br>
                </form>
                <p>Don't have an account? <a href="{% url 'registration_url' %}">Register Now!</a></p>
            </div>
        </div>
</div>
<div class="row">
    <div class="col s12 m6 offset-m3 l4 offset-l4 right-align">
        <span class="copyright grey-text"><i class="tiny material-icons">copyright</i> Elysium Games MMXXIV</span>
    </div>
</div>
{% endblock %}