{% extends 'base.html' %}
{% block head %} 
<style>
    button.publisher_filter{
        appearance: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block title %}Publishers{% endblock %}
{% block body %}

{% regroup publishers by publisher_first_letter as publisher_group %}
{% for group in publisher_group %}
    <h2>{{ group.grouper }}</h2><br>
    {% for game_publisher in group.list %}
        <form action='{% url "test_url" %}' method='post'>
         {% csrf_token %}
            <input type='hidden' value='{{game_publisher.id}}' name='selected_publisher'>
            <button class='publisher_filter' type='submit' name='action' value='filter_publisher'>{{ game_publisher.publisher }} ({{ game_publisher.game_count }})</button>
        </form>
{% endfor %}
{% endfor %}
{% endblock %}