{% extends 'base.html' %}
{% block head %} 
{% endblock %}
{% block title %}TEST{% endblock %}
{% block body %}
{% for review in reviews %}
    <span id='review-{{ forloop.counter }}' data-review-id='{{ review.id }}'> {{ review.review }}<a href='#' id='edit-review-{{ forloop.counter }}' class='edit-link'>Edit</a></span><br>
{% endfor %} 

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let editLinks = document.querySelectorAll('.edit-link')
    
        editLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                let reviewID = this.parentElement.getAttribute('id')
                let dataReviewID = this.parentElement.getAttribute('data-review-id')
                event.preventDefault()
                editReview(reviewID, dataReviewID)
            })
        })
    })

    function editReview(reviewID, dataReviewID) {
        let reviewSpan = document.getElementById(reviewID)
        let reviewText = reviewSpan.textContent.replace('Edit', '')
        reviewSpan.innerHTML = ''
    
        let editReviewTextArea = document.createElement('textarea')
        editReviewTextArea.cols = 20
        editReviewTextArea.rows = 3
        editReviewTextArea.textContent = reviewText
    
        let saveButton = document.createElement('a')
        saveButton.id = 'save-' + reviewID
        saveButton.className = 'save-link'
        saveButton.href = '#'
        saveButton.textContent = 'Save'
    
        reviewSpan.appendChild(editReviewTextArea)
        reviewSpan.appendChild(saveButton)
    
        saveButton.addEventListener('click', function(event) {
            event.preventDefault()
            let newReview = reviewSpan.querySelector('textarea').value
            const postURL = '{% url "test_url" %}'
            
            fetch(postURL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({'id': dataReviewID, 'review': newReview})
            })
            .then(response => response.json())
            .then(data => console.log(data))

            editReviewTextArea.remove()
            saveButton.remove()
    
            let editButton = document.createElement('a')
            editButton.id = 'edit-' + reviewID
            editButton.className = 'edit-link'
            editButton.href = '#'
            editButton.textContent = 'Edit'
    
            editButton.addEventListener('click', function(event) {
                event.preventDefault()
                editReview(reviewID)
            })
    
            reviewSpan.textContent = newReview
            reviewSpan.appendChild(editButton)
        })
    }
    
    </script>
{% endblock %}
